@import url(/assets/styles/styles.css);

/* MEDIA QUERIES */



/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .logo{
        margin-right: 20px;
        justify-content: left;
        padding: auto;
    }

    /* Body: Header styles */

    header{
        display: grid;
        grid-template-columns: auto;
        padding: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid rgb(63, 63, 63);
    }
    .header-menu{
        display: grid;
        grid-template-columns: auto;
    }

    /* Body: Main: Section: Services -> styles */

    .servicios{
        display: grid;
        grid-template-columns: auto;
    }

    /* Body: Main: Article: AcercaDe -> styles */

    .about-us{
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        gap: 0%;
        padding: 0px 0px 0px 0px;
        margin: 16% 8% 20% 8%;
    }
    .about-us .title-us{
        text-align: center;
    }
    .button-contact{
        margin: 4% 8% 4% 8%;
    }
    .about-us .logo{
        max-width: 100%;
        margin: auto auto auto auto;
    }

    /* Body: Section: Contact-us -> styles */

    .contact-us{
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        gap: 0%;
        padding: 0px 0px 0px 0px;
        margin: 16% 8% 20% 8%;
    }
    .title-contact{
        text-align: center;
    }
    .contact-us .icon{
        font-size: 30px;
    }
    .redes ul{
        max-width: 100%;
        margin: auto auto auto auto;
    }
    .redes li{
        display: grid;
        padding: 8px 10px 8px 10px;
    }
    input[type="text"], input[type="email"], input[type="tel"]{
        margin-top: 1%;
        margin-bottom: 4%;
    }
    textarea{
        margin-top: 1%;
        margin-bottom: 4%;
    }
    .form label{
        color: black;
        text-decoration: 2px underline red;
        font-size: 18px;
    }
    .submit-contact{
        margin-top: 2%;
    }

    /* Body: Footer -> styles */

    footer{
        display: grid;
        grid-template-columns: auto;
        align-content: center;
        align-items: center;
        gap: 0%;
        padding: 0px 0px 0px 0px;
        margin: 16% 8% 20% 8%;
    }
    /* .footer-lists{

    } */
    /* footer .logo{
        justify-content: center;
        padding: auto;
        max-width: 100%;
        margin: auto auto auto auto;
    } */
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {

}