@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --roboto: "Roboto Slab" sans-serif;
    --poppins:"Poppins", sans-serif;
    --anton: "Anton", sans-serif;
    --edu-beginner: "Edu VIC WA NT Beginner", sans-serif;
}
/* prefabs */
body{
    font-family: var(--roboto);
    font-size: 18px;
}

a:hover{
    color: rgb(63, 63, 63);
    text-decoration: none;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
a:active{
    color: black;
    text-decoration: none;
}


.m-auto{
    margin: auto;
}
.max-h-full{
    max-height: 100%;
}
.max-w-full{
    max-width: 100%;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.icon{
    font-size: 60px;
    color: black;
}

/* Body: Header styles */


header{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(63, 63, 63);
}

.logo{
    margin-right: 20px;
    justify-content: left;
    padding: auto;
}

nav{
    display: flex;
    align-items: center; 
    justify-content: right;
    flex-direction: row;
    padding: auto;
}

nav ul{
    list-style: none;
    position: right;
}

nav li{
    display: grid;
    padding: 25px 20px;
}

nav li a{
    font-size: 18px;
    text-decoration: none;
}
nav li a:hover{
    color: rgb(63, 63, 63);
}

/* Body: Main: Section: Services -> styles */

main{
    padding-top: 5%;
}

.title{
    align-content: center;
    text-align: center;
    font-size: 20px;
    padding-bottom: 5%;
}
.title h2{
    font-size: 40px;
    text-decoration: underline red;
}

.servicios{
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 5%;
}

.card-services{
    display: flex;
    align-items: center; 
    justify-content: right;
    flex-direction: column;
    padding: 50px 5px 10px 5px;
    margin: 10px;

    height: 300px;
    max-width: auto;
    background-color: rgb(240, 240, 255);
    border-radius: 5px;
    border: 1px solid rgb(63, 63, 63);
}
.card-services h3{
    font-size: 30px;
}
.service-text{
    padding: 0px 5px 20px 5px;
    font-size: 24;
}
.go{
    height: 50px;
    width: 250px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin: auto;
    background-color: rgb(27, 27, 27);
    color: white;
    font-weight: bold;
    
}
.go:hover{
    background-color: rgb(63, 63, 63);
}

/* Body: Main: Article: AcercaDe -> styles */

.about-us{
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    align-items: center;
    align-content: center;
    text-align: justify;
    gap: 150px;
    padding: 2% 150px 8% 150px;
}
.title-us{
    align-content: center;
    text-align: justify;
    font-size: 20px;
}
.title-us h2{
    font-size: 30px;
    text-decoration: underline red;
}
.title-us p{
    padding-left: 30px;
}

.button-contact{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin: auto;
    background-color: rgb(27, 27, 27);
    color: white;
    font-weight: bold;
    
}
.button-contact:hover{
    background-color: rgb(63, 63, 63);
}


/* Body: Section: Contact-us -> styles */

.contact-us{
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    align-items: center;
    align-content: center;
    text-align: justify;
    gap: 150px;
    padding: 2% 150px 8% 150px;
}

.title-contact{
    align-content: center;
    text-align: justify;
    font-size: 20px;
}
.title-contact h2{
    font-size: 30px;
    text-decoration: underline red;
}
.title-contact p{
    padding-left: 30px;
}


input[type="text"], input[type="email"], input[type="tel"]{
    display: grid;
    width: 100%;
    border: 1px solid rgb(63, 63, 63);
    color: black;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    font-size: 16px;
}
textarea{
    width: 100%;
    border: 1px solid rgb(63, 63, 63);
    color: black;
    border-radius: 10px;
    padding: 15px 10px;
    font-size: 16px;
    resize: none;
}

.form label{
    color: black;
    text-decoration: 2px underline red;
    font-size: 18px;
}
.submit-contact{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin: auto;
    background-color: rgb(27, 27, 27);
    color: white;
    font-weight: bold;
    
}
.submit-contact:hover{
    background-color: rgb(63, 63, 63);
}

.redes{
    display: flex;
    align-items: right; 
    padding: auto;
}

.redes ul{
    list-style: none;
    position: right;
}

.redes li{
    display: grid;
    padding: 25px 20px;
}

.redes li i:hover{
    color: rgb(63, 63, 63);
}


/* Body: Footer -> styles */

footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    align-items: center;

    border-top: 1px solid rgb(63, 63, 63);
    color: black;
    padding: 10px;
    margin-top: 100px;
}
.logo img{
    margin: auto;
    max-height: 100%;
    padding: 8% 0% 0% 18%;
}
footer .redes{
    padding: 0% 0% 0% 21%;
}
.footer-icon{
    font-size: 30px;
    color: black;
}

footer .footer-h3{
    text-align: left;
    font-size: 24px;
    text-decoration: underline red;
}

footer ul{
    list-style: none;
    position: right;
}

footer li{
    display: grid;
}

footer li a{
    font-size: 18px;
    text-decoration: none;
}
footer li a:hover{
    color: rgb(63, 63, 63);
}

/* /pages/contact.html :: Main: contac-with-us -> styles */

#contac-with-us{
    padding-top: 15%;
    padding-bottom: 15%;
}


/* Service pages -> general styles - pre-one */

.servicio{
    display: grid;
    grid-template-rows: auto auto;
    gap: 40px;
    padding: 1% 150px 8% 150px;

    font-size: 18px;
}
.servicio h1{
    align-content: center;
    text-align: center;
    font-size: 40px;
    text-decoration: underline red;

}

#div1{
    font-size: 26px;
    text-align: center;
}#div1 #p0{
    text-align: center;
    padding-top: 2%;
}

#div2{
    gap: 40px;
    text-align: center;
}

/* CARDS -plans */

.planes{
    display: grid;
    grid-template-rows: auto auto;
    gap: 40px;
    padding: 1% 150px 8% 150px;

    font-size: 18px;
}
.planes h2{
    text-align: center;
    text-decoration: underline red;
}

.cards{
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: left;
    gap: 40px;
    padding: 1% 150px 8% 150px;

    font-size: 18px;

}.card-plan{
    display: flex;
    align-items: center; 
    justify-content: right;
    flex-direction: column;

    padding: 50px 5px 10px 5px;
    margin: 10px;

    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: 300px;

    background-color: rgb(240, 240, 255);
    border-radius: 5px;
    border: 1px solid rgb(63, 63, 63);
}
.card-plan p{
    text-align: center;
}
.card-plan h3{
    font-size: 30px;
    text-decoration: underline red;
    font-weight: bold;
}
.card-plan ul{
    list-style: none;
    /* position: right; */
}
.card-plan li{
    padding: 5px 20px;
}
.card-plan li i:hover{
    color: rgb(63, 63, 63);
}
.card-plan li.prize{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    padding: 20px 5px 5px 5px;
    margin: auto;
    color: black;
}
.plan-description{
    font-size: 24px;
}


#column-1{
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    align-items: center;
    align-content: center;
    text-align: justify;
    gap: 150px;
    padding: 2% 150px 8% 150px;
}

#column-2{
     display: grid;
    grid-template-columns: auto auto;
    height: auto;
    align-items: center;
    align-content: center;
    text-align: justify;
    gap: 150px;
    padding: 2% 150px 8% 150px;
}

#column-3{
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
    align-items: center;
    align-content: center;
    text-align: justify;
    gap: 150px;
    padding: 2% 150px 8% 150px;

}
